In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Concrete_Data_Yeh.csv')

In [3]:
df.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age,csMPa
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
x = df.drop(['age'],axis = 'columns')

In [5]:
y = df['age']

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [9]:
X_train

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,csMPa
558,272.8,181.9,0.0,185.7,0.0,1012.4,714.3,19.77
996,152.6,238.7,0.0,200.0,6.3,1001.8,683.9,26.86
291,182.0,45.2,122.0,170.2,8.2,1059.4,780.7,31.27
525,359.0,19.0,141.0,154.0,10.9,942.0,801.0,25.12
205,212.1,0.0,121.6,180.3,5.7,1057.6,779.3,20.92
...,...,...,...,...,...,...,...,...
616,277.0,0.0,0.0,191.0,0.0,968.0,856.0,33.70
40,342.0,38.0,0.0,228.0,0.0,932.0,670.0,50.46
964,143.7,170.2,132.6,191.6,8.5,814.1,805.3,29.87
1018,321.4,0.0,127.9,182.5,11.5,870.1,779.7,37.27
60,304.0,76.0,0.0,228.0,0.0,932.0,670.0,54.38

In [10]:
X_test

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,csMPa
610,236.0,0.0,0.0,193.0,0.0,968.0,885.0,25.08
384,516.0,0.0,0.0,162.0,8.2,801.0,802.0,41.37
538,480.0,0.0,0.0,192.0,0.0,936.2,712.2,34.57
763,385.0,0.0,0.0,186.0,0.0,966.0,763.0,6.27
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,40.27
...,...,...,...,...,...,...,...,...
68,190.0,190.0,0.0,228.0,0.0,932.0,670.0,40.86
201,190.7,0.0,125.4,162.1,7.8,1090.0,804.0,26.40
144,475.0,118.8,0.0,181.1,8.9,852.1,781.5,72.30
363,218.2,54.6,123.8,140.8,11.9,1075.7,792.7,63.53
143,375.0,93.8,0.0,126.6,23.4,852.1,992.6,60.20

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC,SVR

In [19]:
models = {
             'reg': LinearRegression(),
            'tree': DecisionTreeClassifier(),
             'rfc': RandomForestClassifier(),
            'svm' : SVC(),
             'svm': SVR()
}

for name,model in models.items():
    model.fit(X_train,y_train)
    print(name + 'trained.')

regtrained.
treetrained.
rfctrained.
svmtrained.

In [20]:
for name,model in models.items():
    model.score(X_test,y_test)
    print(name + 'Score: {:.2f}'.format(model.score(X_test,y_test)))

regScore: 0.39
treeScore: 0.54
rfcScore: 0.50
svmScore: -0.11

In [22]:
for name, model in models.items():
    print(name + " Accuracy: {:.4f}".format(model.score(X_test, y_test)))

reg Accuracy: 0.3873
tree Accuracy: 0.5388
rfc Accuracy: 0.4951
svm Accuracy: -0.1069